<% @page_title = "#{@presenter.title} - #{application_name}" %>

<%= render_breadcrumbs builder: Sufia::BootstrapBreadcrumbsBuilder %>

  <div itemscope itemtype="http://schema.org/CollectionPage" class="row">
    <div class="col-xs-9 pull-right">
      <header>
        <h1 class="visibility"><%= @presenter.title %> <%= render_collection_visibility_badge %></h1>
        <p class="collection_description"><%=iconify_auto_link(@presenter.description)%></p>
      </header>
      <% unless collection_search_parameters? %>
      <%= render 'collections/show_descriptions' %>
      <% end %>
    </div>
    <div class="col-xs-3">
      <%= render partial: 'collections/media_display', locals: { generic_file: @collection } %>
      <% unless collection_search_parameters? %>
      <%= render partial: 'collections/show_actions' %>
      <% end %>
    </div>
  </div>

<%= render 'sort_and_per_page' %>

<% if collection_search_parameters? %>
    <% header_title = "Search Results within this Collection" %>
<% else %>
    <% header_title = "Items in this Collection" %>
<% end %>

<div>
  <!-- Use CSS class h2 rather than HTML h2 tag to allow header and search box to align vertically -->
  <span class="h2"><%= header_title %></span>
  <%= render partial: 'search_form'%>
</div>

<% @user ||= current_user %>
<%= render_document_index @member_docs %>

<%= render partial: 'paginate' %>
