<h2>Featured Works</h2>
<% if can? :update, FeaturedWork %>
  <%= form_for [sufia, @featured_work_list] do |f| %>
    <%= hidden_field_tag("featured_work_list[featured_works_attributes][]", [] ,:multiple => true) if @featured_work_list.featured_works.count == 0 %>
    <div class="featured_works dd" id="dd">
      <ol id="featured_works">
        <%= f.fields_for :featured_works do |featured| %>
          <%= render partial: 'homepage/sortable_featured', locals: {f: featured} %>
        <% end %>
      </ol>
    </div>
    <%= f.submit "Save order", class: 'btn btn-default' if  @featured_work_list.featured_works.count > 0%>
    <span class="featured_works instructions">Feature works on the show page of a file, by clicking the Feature link.</span>

  <% end %>
<% else %>
  <ol id="featured_works">
    <%= render partial: 'homepage/featured', collection: @featured_work_list.featured_works %>
  </ol>
<% end %>
