<html>
  <head>

    <meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">
  </head>
  <body bgcolor="#FFFFFF" text="#000000">
    <title></title>
    <table align="center" border="0" cellpadding="0"
      cellspacing="0" width="100%">
      <tbody>
        <tr>
          <td bgcolor="#FFFFFF">
            
            <!--Top Blue Line-->
            <table width="100%" cellspacing="0" cellpadding="0" border="0" bgcolor="#272D3B" align="center" style="font-family:arial,verdana,lucida-sans,sans-serif;">
              <tbody>
                <tr>
                  <td style="line-height:10px;">&nbsp;</td>
                </tr>
              </tbody>
            </table>

            <!--Header-->
            <table bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" align="center" width="510">
             <tbody>
               <tr><td width="510" height="20"></td></tr>
               <tr>
                 <td width="130" valign="top">
                   <%= image_tag attachments['penn-state-mark.png'].url ,  moz_do_not_send:"true", width:"100", height:"43", alt:"Penn State Logo" %>
                   <!--img moz-do-not-send="true" src="http://itcomm-dev.vmhost.psu.edu/images/penn-state-mark.png" width="100" height="43" alt="Penn State Logo"-->
                 </td>
              </tr>
               <tr>
                 <td width="380" valign="top" align="middle">
                   <a href="https://scholarsphere.psu.edu/" alt="Link to the Scholarsphere website.">
                     <%= image_tag attachments['scholarshere-logo.png'].url ,  moz_do_not_send:"true", width:"350", height:"73", alt:"Scholarsphere Website" %>
                     <!--img moz-do-not-send="true" src="http://itcomm-dev.vmhost.psu.edu/images/scholarshere-logo.png" width="350" height="73" border="0" alt="Scholarsphere Website"-->
                   </a>
                 </td>
              </tr>
              <tr><td width="510" height="30"></td></tr>
             </tbody>
            </table>
            <!--END Header-->            

            <!--body-->
            <table bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" align="center" width="460" style="font-family:georgia;">  
              <tbody>
                <tr style="line-height:150%;">
                  <td style="font-size:16px;line-height:150%;font-family:georgia">
                    <p><%= @view_data[:first_name] %>,</p>
                    <p>Thank you for requesting information about ScholarSphere.</p>
                    <p>Attached is information that further explains how our secure, online repository can meet your needs. The document also highlights some of your Penn State colleagues who are currently using ScholarSphere.</p>
                    <p>After you've had a chance to review the attached information, I will contact you about arranging a face-to-face conversation to discuss how I can help you get started.</p>
                    <p>Sincerely,<br/>
                    Patricia Hswe</p>
                  </td>
                </tr>
                <tr><td width="510" height="100"></td></tr>
              </tbody>
            </table>
            <!--END body-->          

          </td>
        </tr>

        <tr>
          <td>
            <table bgcolor="#272D3B" border="0" cellpadding="0" cellspacing="0" align="center" width="100%">
              <tr style="line-height:10px;"><td>&nbsp;</td></tr>
              <tr>
                <td>
                  <table bgcolor="#272D3B" border="0" cellpadding="0" cellspacing="0" align="center" width="600">
                    <tbody>
                      <tr>
                        <td align="right">
                          <a href="http://it.psu.edu" alt="Link to the it.psu.edu website.">
                            <%= image_tag attachments['pennstate-it.png'].url ,  moz_do_not_send:"true", width:"162", height:"42", alt:"Penn State Information Technology logo." %>
                            <!--img src="http://itcomm-dev.vmhost.psu.edu/images/pennstate-it.png" moz-do-not-send="true" width="162" height="42" alt="Penn State Information Technology logo."-->
                          </a>
                        </td>
                        <td width="50"></td>
                        <td align="left">
                          <a href="http://libraries.psu.edu/" alt="University Libraries Logo">
                            <%= image_tag attachments['universitylibraries.png'].url ,  moz_do_not_send:"true", width:"200", height:"42", alt:"Penn State University Libraries logo." %>
                            <!--img src="http://itcomm-dev.vmhost.psu.edu/images/universitylibraries.png" moz-do-not-send="true" width="200" height="42" alt="Penn State University Libraries logo."-->
                          </a>
                        </td>
                      </tr>                  
                    </tbody>
                  </table>                  
                </td>
              </tr>
              <tr style="line-height:9px;"><td>&nbsp;</td></tr>
              <tr style="line-height:1px;"><td>&nbsp;</td></tr>
            </table>              
          </td>
        </tr>
      </tbody>
    </table>

    <%= image_tag "http://www.google-analytics.com/__utm.gif?utmwv=5.4.4&utms=30&utmn=#{DateTime.now.to_i}&utmhn=#{Rails.application.get_vhost_by_host[0]}&utmcs=UTF-8&utmsr=1296x810&utmvp=1096x301&utmsc=24-bit&utmul=en-us&utmje=1&utmfl=11.7%20r700&utmdt=ScholarSphere&utmhid=1113908752&utmr=-&utmp=%2FManageData%2Ftrack&utmht=1378470278785&utmac=#{Rails.application.google_analytics_id}&utmcc=__utma%3D111872281.18914588.1368447022.1378422971.1378465209.118%3B%2B__utmz%3D111872281.1368447022.1.1.utmcsr%3D(email)%7Cutmccn%3D(email)%7Cutmcmd%3D(none)%3B&utmu=q~", width:120, height:120%>

    <meta http-equiv="Content-Type" content="text/html;
      charset=ISO-8859-1">
    <img src="" width="1" height="1" style="background:transparent; display:block; border:none;" moz-do-not-send="true"  />

  </body>
</html>

