<html>
  <head>

    <meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">
  </head>
  <body bgcolor="#FFFFFF" text="#000000">
    <title></title>
    <table align="center" border="0" cellpadding="0"
      cellspacing="0" width="100%">
      <tbody>
        <tr>
          <td bgcolor="#FFFFFF">
            
            <!--Top Blue Line-->
            <table width="100%" cellspacing="0" cellpadding="0" border="0" bgcolor="#272D3B" align="center" style="font-family:arial,verdana,lucida-sans,sans-serif;">
              <tbody>
                <tr>
                  <td style="line-height:10px;">&nbsp;</td>
                </tr>
              </tbody>
            </table>

            <!--Header-->
            <table bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" align="center" width="510">
             <tbody>
               <tr><td width="510" height="20"></td></tr>
               <tr>
                 <td width="130" valign="top">
                   <%= image_tag attachments['penn-state-mark.png'].url ,  moz_do_not_send:"true", width:"100", height:"43", alt:"Penn State Logo" %>
                   <!--img moz-do-not-send="true" src="http://itcomm-dev.vmhost.psu.edu/images/penn-state-mark.png" width="100" height="43" alt="Penn State Logo"-->
                 </td>
                 <td width="380" valign="top" align="left">
                   <a href="https://scholarsphere.psu.edu/" alt="Link to the Scholarsphere website.">
                     <%= image_tag attachments['scholarshere-logo.png'].url ,  moz_do_not_send:"true", width:"350", height:"73", alt:"Scholarsphere Website" %>
                     <!--img moz-do-not-send="true" src="http://itcomm-dev.vmhost.psu.edu/images/scholarshere-logo.png" width="350" height="73" border="0" alt="Scholarsphere Website"-->
                   </a>
                 </td>
              </tr>
              <tr><td width="510" height="30"></td></tr>
             </tbody>
            </table>
            <!--END Header-->            

            <!--body-->
            <table bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" align="center" width="460" style="font-family:georgia;">  
              <tbody>
                <tr style="line-height:150%;">
                  <td style="font-size:16px;line-height:150%;font-family:georgia">
                    <p><%= @view_data[:name] %>,</p>
                    <p>Thank you for requesting information about ScholarSphere.</p>
                    <p>Attached is a pdf that further explains how our secure, online repository can meet your needs. The document also highlights some of your Penn State colleagues who are currently using ScholarSphere.</p>
                    <p>After you've had a chance to review the attached information, I will contact you about arranging a face-to-face conversation to discuss how I can help you get started.</p>
                    <p>Sincerely,<br/>
                    Patricia Hswe</p>
                  </td>
                </tr>
                <tr><td width="510" height="100"></td></tr>
              </tbody>
            </table>
            <!--END body-->          

          </td>
        </tr>

        <tr>
          <td>
            <table bgcolor="#272D3B" border="0" cellpadding="0" cellspacing="0" align="center" width="100%">
              <tr style="line-height:10px;"><td>&nbsp;</td></tr>
              <tr>
                <td>
                  <table bgcolor="#272D3B" border="0" cellpadding="0" cellspacing="0" align="center" width="600">
                    <tbody>
                      <tr>
                        <td align="right">
                          <a href="http://it.psu.edu" alt="Link to the it.psu.edu website.">
                            <%= image_tag attachments['pennstate-it.png'].url ,  moz_do_not_send:"true", width:"162", height:"42", alt:"Penn State Information Technology logo." %>
                            <!--img src="http://itcomm-dev.vmhost.psu.edu/images/pennstate-it.png" moz-do-not-send="true" width="162" height="42" alt="Penn State Information Technology logo."-->
                          </a>
                        </td>
                        <td width="50"></td>
                        <td align="left">
                          <a href="http://libraries.psu.edu/" alt="University Libraries Logo">
                            <%= image_tag attachments['universitylibraries.png'].url ,  moz_do_not_send:"true", width:"200", height:"42", alt:"Penn State University Libraries logo." %>
                            <!--img src="http://itcomm-dev.vmhost.psu.edu/images/universitylibraries.png" moz-do-not-send="true" width="200" height="42" alt="Penn State University Libraries logo."-->
                          </a>
                        </td>
                      </tr>                  
                    </tbody>
                  </table>                  
                </td>
              </tr>
              <tr style="line-height:9px;"><td>&nbsp;</td></tr>
              <tr style="line-height:1px;"><td>&nbsp;</td></tr>
            </table>              
          </td>
        </tr>
      </tbody>
    </table>
    
    
    <meta http-equiv="Content-Type" content="text/html;
      charset=ISO-8859-1">
  </body>
</html>

