<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">
  <style>
     dt::after {
       content:":";
     }
     dt {
       float: left;
       padding-right: 1em;
     }
  </style>
</head>
  <body>
     <h1>
       <% if @presenter.single_day? %>
         Report for <%= @presenter.start_datetime %>
       <% else %>
         Report for <%= @presenter.start_datetime %> to <%= @presenter.end_datetime %>
       <% end %>
     </h1>
     <dl>
       <% @presenter.terms.each do |term| %>
         <dt><%= term.to_s.titleize %></dt>
         <dd><%= @presenter.send(term) %></dd>
       <% end %>
     </dl>
  </body>
</html>
