<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=ISO-8859-1" />
</head>
<body>
<h1><%= t('statistic.user_stats.heading', date: Date.today.last_month.strftime('%B')) %></h1>

<p>
  Dear Author, <br />
  You had <%= @presenter.file_downloads %> new downloads last month across your <%= @presenter.total_files %> files in <%= t('sufia.product_name') %>.
  You can <a href="https://scholarsphere.psu.edu/dashboard/">view your overall statistics in <%= t('sufia.product_name') %></a> by accessing your dashboard.
</p>

</body>
</html>
