<h3>Creators</h3>
<div class="creator_container">
 <div class="find_creator_container">
  <label for="find_creator">Find Creator</label>
  <input type="text" name="find_creator" id="find_creator" class="form-control string" placeholder="Search for an existing creator" />
</div>
<% @form.creators.each_with_index do |creator, index| %>
  <% id_base = "#{@form.model_class_name}[creators][#{index}]"%>

  <div class="well creator_inputs">
    <button type="button" class="btn btn-link remove remove-creator"><span class="glyphicon glyphicon-remove"></span><span class="controls-remove-text">Remove</span></button>

  <% unless creator.id.blank? %>
     <%= hidden_field_tag "#{id_base}[id]", creator.id %>
     <% is_readonly = true %>
  <% end %>

  <% given_name_id = "#{id_base}[given_name]" %>
  <%= label_tag given_name_id, 'Given Name' %>
  <%= text_field_tag given_name_id,
    creator.given_name,
    required: false,
    readonly: is_readonly,
    id: given_name_id,
    class: 'form-control string required creator-first-name creator' %>

  <% sur_name_id = "#{id_base}[sur_name]" %>
  <%= label_tag sur_name_id, 'Last Name' %>
  <%= text_field_tag sur_name_id,
    creator.sur_name,
    required: false,
    readonly: is_readonly,
    options: [readonly: true],
    id: sur_name_id,
      class: 'form-control string required creator-last-name creator' %>

    <% display_name_id = "#{id_base}[display_name]" %>
    <%= label_tag display_name_id, 'Display Name' %>
    <%= text_field_tag display_name_id,
                       creator.display_name,
                       required: false,
                       id: display_name_id,
                       class: 'form-control string required creator-display-name creator' %>
  </div>
<% end %>
</div>
<button type="button" id="add-creator" class="btn btn-link add add-creator"><span class="glyphicon glyphicon-plus"></span><span class="controls-add-text">Add another Creator</span></button>

<%= render partial: 'records/edit_fields/creator_template' %>
