<%#
  Overrides CurationConcerns to remove the private visibility option in permissions
  tab of the fileset edit view.
%>

<% if f.object.embargo_release_date %>
  <%= render 'form_permission_under_embargo', f: f %>
<% elsif f.object.lease_expiration_date %>
  <%= render 'form_permission_under_lease', f: f %>
<% else %>
  <fieldset class="set-access-controls">
    <legend id="choose_visibility">
      <%= t('curation_concerns.visibility.legend') %>
    </legend>
    <p class="help-block"><%= t('scholarsphere.file_set.permission_help') %></p>
    <p><%= t('scholarsphere.file_set.representative_media') %></p>
    <%# Using the unordered list to match the UI from edit works and explicitly sets label 'for' attribute %>
    <ul role="radiogroup" aria-labelledby="choose_visibility">
      <li class="radio">
        <%= f.radio_button :visibility, Hydra::AccessControls::AccessRight::VISIBILITY_TEXT_VALUE_PUBLIC %>
        <label class="permission-label" for="file_set_visibility_open">
          <%= t('curation_concerns.visibility.open.label_html', type: 'work') %>
        </label>
      </li>
      <li class="radio">
        <%= f.radio_button :visibility, Hydra::AccessControls::AccessRight::VISIBILITY_TEXT_VALUE_AUTHENTICATED %>
        <label class="permission-label" for="file_set_visibility_authenticated">
          <%= t('curation_concerns.visibility.authenticated.label_html', institution: t('curation_concerns.institution.name')) %>
        </label>
      </li>
      <li class="radio">
        <%= f.radio_button :visibility, Hydra::AccessControls::AccessRight::VISIBILITY_TEXT_VALUE_EMBARGO %>
        <label class="permission-label" for="file_set_visibility_embargo">
          <%= t('curation_concerns.visibility.embargo.label_html') %>
        </label>
        <%= render 'form_permission_embargo', f: f %>
      </li>
      <li class="radio">
        <%= f.radio_button :visibility, Hydra::AccessControls::AccessRight::VISIBILITY_TEXT_VALUE_LEASE %>
        <label class="permission-label" for="file_set_visibility_lease">
          <%= t('curation_concerns.visibility.lease.label_html') %>
        </label>
        <%= render 'form_permission_lease', f: f %>
      </li>
    </ul>
  </fieldset>
<% end %>
