<div class="base-terms">
  <h2><%= t('simple_form.headings.base') %></h2>
  <% f.object.primary_terms.each do |term| %>
      <%= render_edit_field_partial(term, f: f) %>
  <% end %>
</div>

<% if action_name == 'edit' %>
  <div id="work-media">
    <h2>Media</h2>
    <%= render 'form_media', f: f %>
  </div>
<% end %>

<p class="hidden-xs">
  <a href="#savework" target="_self"><%= t('curation_concerns.base.back_to_top') %></a>
</p>

<%= link_to t('sufia.works.edit.additional_fields'),
            '#extended-terms',
            class: 'btn btn-default additional-fields',
            data: { toggle: 'collapse' },
            role: "button",
            'aria-expanded'=> "false",
            'aria-controls'=> "extended-terms" %>

<div id="extended-terms" class='collapse'>
  <h2><%= t('simple_form.headings.additional') %></h2>
  <% f.object.secondary_terms.each do |term| %>
      <%= render_edit_field_partial(term, f: f) %>
  <% end %>
  <p class="hidden-xs">
    <a href="#savework" target="_self"> <%= t('curation_concerns.base.back_to_top') %></a>
  </p>
</div>
