<%# Overrides the layout for mobile and small screens %>
<div class="col-xs-12 col-sm-7">
  <h2 class="border-bottom-1px"><%= t('.header') %></h2>
  <dl class="<%= dom_class(presenter) %> attributes" <%= presenter.microdata_type_to_html %>>
    <%= render 'attribute_rows', presenter: presenter %>
    <%= presenter.attribute_to_html(:embargo_release_date, render_as: :date) %>
    <%= presenter.attribute_to_html(:lease_expiration_date, render_as: :date) %>
    <%= presenter.attribute_to_html(:rights, render_as: :rights) %>
  </dl>
</div>
