<%#
    - Overrides the CC title helper in Sufia and hard code string with interpolated values.
    - Overrides Sufia to swap the order of relationships and descriptions partials
    - Moves Twitter and Google Scholar meta tags
%>

<% content_for(:twitter_meta) do %>
  <%= render 'shared/twitter', presenter: @presenter %>
<% end %>

<% content_for(:gscholar_meta) do %>
  <%= render 'shared/gscholar', presenter: @presenter %>
<% end %>

<% provide :page_title, "Work | #{@presenter.title.first} | Work ID: #{@presenter.id} | ScholarSphere" %>

<div itemscope itemtype="http://schema.org/CreativeWork" class="row">
  <div class="col-xs-12">
    <header>
      <%= render 'work_title', presenter: @presenter %>
      <%= render 'work_subtitle', presenter: @presenter %>
    </header>
  </div>
  <div class="col-sm-8">
    <%= render 'work_description', presenter: @presenter %>
    <%= render 'work_readme', presenter: @presenter %>
    <div class="row">
      <%= render 'metadata', presenter: @presenter %>
      <%= render 'relationships', presenter: @presenter %>
    </div>
  </div>
  <div class="col-sm-4">
    <%= render 'show_actions', presenter: @presenter %>
    Last modified: <%= @presenter.date_modified %>
    <%= render 'representative_media', presenter: @presenter %>
    <%= render 'download_work', presenter: @presenter %>
    <%= render 'social_media' %>
    <%= render 'citations', presenter: @presenter %>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <%= render 'items', presenter: @presenter %>
    <%= render 'paginate' %>
    <%# TODO: we may consider adding these partials in the future %>
    <%# = render 'sharing_with', presenter: @presenter %>
    <%= render 'users/activity', presenter: @presenter %>
  </div>
</div>
