<ul class="nav nav-tabs" id="myTab">
  <li class="active"><a href="#user_info"><span class="glyphicon glyphicon-user"></span> <%= I18n.t('sufia.user_profile.tab_user_info') %></a></li>
  <li><a href="#contributions"><span class="glyphicon glyphicon-star"></span> <%= I18n.t('sufia.user_profile.tab_highlighted') %></a></li>
  <li><a href="#activity_log" ><span class="glyphicon glyphicon-calendar"></span> <%= I18n.t('sufia.user_profile.tab_activity') %></a></li>
</ul>

<div class="tab-content">
  <%= render 'user_info', user: @user %>
  <%= render 'contributions', presenter: presenter %>
  <%= render 'activity', presenter: presenter %>
</div> <!-- /tab-content -->
