<%#
Copyright © 2012 The Pennsylvania State University

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
%>
<% content_for :local_js do %>
$('#myTab a').click(function (e) {
  e.preventDefault();
  $(this).tab('show');
})
<% end %>





  <div class="span110"> 
    <div class="pull-right">
    <!-- profile and view buttons -->
      <% if not signed_in? %>
        <!-- sign in to access social functions -->
      <% elsif current_user == @user %>
        <a class="btn" href="<%= sufia.edit_profile_path(URI.escape(@user.to_s, '@.')) %>"><i class="icon-edit"></i> Edit Your Profile </a>
      <% elsif current_user.following?(@user) %>
        <a class="btn btn-primary" href="<%= sufia.unfollow_user_path(@user.to_s) %>"><i class="icon-eye-close"></i> Unfollow </a>
      <% else %>
        <a class="btn btn-primary" href="<%= sufia.follow_user_path(@user.to_s) %>"><i class="icon-eye-open"></i> Follow</a>
      <% end %>
    </div>
    <span class="span20">
      <%= image_tag @user.avatar.url(:thumb), :width => 100 %>
      <h3> <%= @user.name %><br /><%= @user.user_key %> </h3>
      <hr /> 
        <i class="icon-time"></i> Joined on <%= @user.created_at.to_date.strftime("%b %d, %Y") %> <br />
        <i class="icon-folder-open"></i> Deposited Files <%= link_to_field('depositor', @user.to_s, GenericFile.find(:depositor_t => @user.to_s).count) %> <br />
        <i class="icon-envelope"></i> <%= mail_to @user.email, @user.email %> <br />
        <i class="icon-briefcase"></i> <%= @user.title.titleize %> <br />
      <!-- following -->
        <hr />
      <div>
        <h4><i class="icon-hand-left"></i> Follower(s): <%= @followers.count %></h4>
        <h4><i class="icon-hand-right"></i> Following: <%= @following.count %></h4>
      </div>

      <br />
      <a class="btn btn-primary" href="<%= sufia.profiles_path %>"><i class="icon-globe"></i> View Users</a>
    </span> <!-- /close span60 -->

<!-- right col -->
    <span class="span78 offset2"> 

      <ul class="nav nav-tabs" id="myTab">
        <li class="active"><a href="#contributions"><i class="icon-trophy"></i> Contributions</a></li>
        <li><a href="#profile"><i class="icon-info-sign"></i> Profile</a></li>
        <li><a href="#activity_log" ><i class="icon-rss"></i> Activity</a></li>
      </ul>
       
      <div class="tab-content">

        <div class="tab-pane active" id="contributions">
          <dl>
            <dt><i class="icon-trophy trophy-on" ></i> Highlighted Files</dt>
            <% if @trophies.count > 0 %>
              <% @trophies.each do |t| %>
                <dd> <%= link_to display_title(t), sufia.generic_file_path(t) %></dd>
              <% end %>
            <% else %>
              You can highlight up to 5 files by clicking the file's corresponding trophy icon (<i class="icon-trophy"></i>) in <%= link_to "your dashboard", dashboard_path %> and the highlighted files will appear here, on your ScholarSphere profile.
            <% end %>
          </dl>
        </div> <!-- /contributions -->

        <div class="tab-pane" id="profile">
          <h2>User Info</h2>
          <%= render :partial => 'user_info', :locals => {:user => @user} %>
        </div> <!-- /profile -->

        <div class="tab-pane" id="activity_log">
          <%= render :partial => 'users/activity_log', :locals => {:events => @events} %>
        </div> <!-- /activity -->

      </div> <!-- /tab-content -->

    </span> <!-- /close span50 -->
  </div><!-- /close span110 -->
