<% provide :page_title, "Batch Edit" %>
<% provide :page_header do %>
  <h1>Batch Edit</h1>
<% end %>

<p>Changes will be applied to the following <%= @form.names.size %> works:</p>
<%= @form.names.join(", ").html_safe %>

<div class="row">
  <div class="col-xs-12 col-sm-8" role="main">

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li id="edit_descriptions_link" class="active">
        <a href="#descriptions_display" data-toggle="tab"><i class="fa icon-metadata"></i> Descriptions</a>
      </li>
      <li id="edit_permissions_link">
        <a href="#share" data-toggle="tab"><i class="fa icon-share"></i></i> Share</a>
      </li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane active" id="descriptions_display">
        <p>Click on labels below to edit the values for the field in all the works.</p>
        <%= render "form_descriptions" %>
      </div>

      <div class="tab-pane" id="share" data-param-key="batch_edit_item">
        <%= simple_form_for @form.model, url: batch_edits_path, method: :put, remote: true, html: { id: "form_permissions", class: "ajax-form"} do |f| %>
          <%= hidden_field_tag('update_type', 'update') %>
          <%= hidden_field_tag('key', 'permissions') %>
          <%= render "curation_concerns/base/form_permission", f: f %>
          <%= render "curation_concerns/base/form_share", f: f %>
          <div class="row">
            <%= f.submit "Save changes", class: 'btn btn-primary updates-batches', id: 'permissions_save' %>
            <div id="status_permissions" class="status fleft"></div>
          </div>
        <% end %>
      </div>     
    </div>

    <!-- Ajax call to clear the batch before page uload. -->
    <%= button_to "Clear Batch", { controller: :batch_edits, action: :clear }, 
        form_class: 'hidden', remote: true, id: 'clear_batch' %>
  </div>
</div>
