<h1>Transfer of Ownership</h1>

<h2>Sent</h2>
<% if @outgoing.present? %>
  <table class="table table-striped" id="outgoing-transfers">
    <thead> 
    <tr>
      <th>Title</th>
      <th>Date</th>
      <th>To</th>
      <th>Status</th>
      <th>Comments</th>
    </tr>
    </thead> 
    <tbody> 
    <% @outgoing.each do |req| %>
      <tr>
        <td> <%= link_to req.solr_doc.title, sufia.generic_file_path(req['pid'].split(':').last) %> </td>
        <td class="sorts-dash">
          <% if req.created_at > Time.now.beginning_of_day %>
            <%= "#{time_ago_in_words(req.created_at)} ago"%>
          <% else %>
            <%= req.created_at.strftime("%b %d %Y") %>
          <% end %>
        </td>
        <td><%= link_to req.receiving_user.name, sufia.profile_path(req.receiving_user.login)  %></td>
        <td>
          <% if req.pending? %>
            <%= button_to "Cancel", transfer_path(req), method: :delete, class:'btn btn-danger', confirm: "Are you sure you want to cancel this request?" %>
          <% else %>
            <%= req.status.capitalize %>
          <% end %>
        </td>
        <td><%= req.sender_comment %></td>
      </tr>
    <% end %>
    </tbody> 
  </table>
<% else %>
  You haven't transferred any files.
<% end %>

<h2>Received</h2>
<% if @incoming.present? %>
  <table class="table table-striped" id="incoming-transfers">
    <thead> 
    <tr>
      <th>Title</th>
      <th>Date</th>
      <th>From</th>
      <th>Status</th>
      <th>Comments</th>
    </tr>
    </thead> 
    <tbody> 
    <% @incoming.each do |req| %>
      <tr>
        <td> <%= link_to req.solr_doc.title, sufia.generic_file_path(req['pid'].split(':').last) %> </td>
        <td class="sorts-dash">
          <% if req.created_at > Time.now.beginning_of_day %>
            <%= "#{time_ago_in_words(req.created_at)} ago"%>
          <% else %>
            <%= req.created_at.strftime("%b %d %Y") %>
          <% end %>
        </td>
        <td><%= link_to req.receiving_user.name, sufia.profile_path(req.receiving_user.login)  %></td>
        <td>
          <% if req.pending? %>
            <%= button_to "Accept", accept_transfer_path(req), method: :put, class: 'btn btn-primary' %>
            <%= button_to "Reject", reject_transfer_path(req), method: :put, class: 'btn btn-danger', confirm: "Are you sure you want to reject this request?" %>
          <% else %>
            <%= req.status.capitalize %>
          <% end %>
        </td>

        <td><%= req.sender_comment %></td>
      </tr>
    <% end %>
    </tbody> 
  </table>
<% else %>
  You haven't received any file transfer requests
<% end %>
