<!DOCTYPE html>
<html lang="<%= t("sufia.document_language") %>">
<head>
  <%= render "layouts/head_tag_content"%>
</head>

<body>
<%= render '/masthead' %>
<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container-fluid">
    <div class="row">
      <ul class="nav navbar-nav col-sm-5 col-md-6">
        <li <%= 'class=active' if current_page?(sufia.root_path) %>>
          <%= link_to t(:'sufia.controls.home'), sufia.root_path, :'data-no-turbolink'=>"true" %></li>
        <li <%= 'class=active' if current_page?(sufia.about_path) %>>
          <%= link_to t(:'sufia.controls.about'), sufia.about_path, :'data-no-turbolink'=>"true" %></li>
        <li <%= 'class=active' if action_name == "help" %>>
          <%= link_to t(:'sufia.controls.help'), sufia.help_path %></li>
        <li <%= 'class=active' if current_page?(sufia.contact_path) %>>
          <%= link_to t(:'sufia.controls.contact'), sufia.contact_path %></li>
      </ul><!-- /.nav -->
    </div>
  </div>
</nav><!-- /.navbar -->

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-8 marketing">
      <%= render "sufia/homepage/marketing" if controller_name == 'homepage' %>
    </div>
    <div class="col-xs-12 col-sm-4 marketing-share">
      <%= render "sufia/homepage/share" if controller_name == 'homepage' %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-offset-2 col-sm-8 home-search">
      <%= render partial: 'catalog/search_form' %>
    </div>
  </div>
</div>
<%= render 'sufia/homepage/announcement' if controller_name == 'homepage' %>

<div id="content-wrapper" class="container-fluid home-tabs">
  <%= yield %>
</div><!-- /#content-wrapper -->
<%= render 'shared/footer' %>
<%= render 'shared/ajax_modal' %>
</body>
</html>
